
@media (max-width: 480px) {
/********************** unit_8_lesson_1 .exercise_1 Start ********************/
.unit_8_lesson_1 .exercise1 .bottom_box{width: 78%;top: 237px;left: 46px;}
/********************** unit_7_lesson_1 .exercise_1 End ********************/

/********************** unit_8_lesson_1 .exercise_2 Start ********************/
.unit_8_lesson_1 .exercise2 .bottom_box{width: 78%;top: 237px;left: 46px;}
/********************** unit_7_lesson_1 .exercise_2 End ********************/

/********************** unit_8_lesson_1 .exercise_3 Start ********************/
.unit_8_lesson_1 .exercise3 .top_box img{ width: 100% !important;}
.unit_8_lesson_1 .exercise3 .top_box2 img{width: 80% !important;}
.unit_8_lesson_1 .exercise3 .sound2{right: 114px;top: 112%;}
.unit_8_lesson_1 .exercise3 .sound1{left: 74px; bottom: -11%;}
/********************** unit_7_lesson_1 .exercise_3 End ********************/

/********************** unit_8_lesson_1 .exercise_4 Start ********************/
.unit_8_lesson_1 .exercise4 .top_box img{ width: 100% !important;}
.unit_8_lesson_1 .exercise4 .top_box2 img{width: 80% !important;}
.unit_8_lesson_1 .exercise4 .sound2{right: 114px;top: 112%;}
.unit_8_lesson_1 .exercise4 .sound1{left: 74px; bottom: -11%;}
/********************** unit_7_lesson_1 .exercise_4 End ********************/
}

@media (max-width: 360px) {
/********************** unit_7_lesson_1 .exercise_1 Start ********************/
.unit_8_lesson_1 .exercise1 .bottom_box{left: 34px;}
/********************** unit_7_lesson_1 .exercise_1 End ********************/

/********************** unit_7_lesson_1 .exercise_2 Start ********************/
.unit_8_lesson_1 .exercise2 .bottom_box{left: 34px;}
.unit_8_lesson_1 .exercise2 .main_box{height: 0px;}
/********************** unit_7_lesson_1 .exercise_2 End ********************/

/********************** unit_7_lesson_1 .exercise_3 Start ********************/
.unit_8_lesson_1 .exercise3 .sound2{top: 305px;left: 36px;width: 79%;}
.unit_8_lesson_1 .exercise3 .sound1{left: 61px;top: 244px;}
/********************** unit_7_lesson_1 .exercise_3 End ********************/

/********************** unit_7_lesson_1 .exercise_4 Start ********************/
.unit_8_lesson_1 .exercise4 .sound2{top: 305px;left: 36px;width: 79%;}
.unit_8_lesson_1 .exercise4 .sound1{left: 61px;top: 244px;}
/********************** unit_7_lesson_1 .exercise_4 End ********************/
}