/********************** unit_4_lesson_1 .exercise_1 Start ********************/
.unit_4_lesson_1 .header_part{width: 100%; height: 70px;float: left;position: relative;}
.unit_4_lesson_1 .header_text{color:#de1d13;font-size: 14px;font-family: 'riffic', Arial, Helvetica, sans-serif;max-width: 600px;margin: 10px 0px 0px 0px;}
.unit_4_lesson_1 .exercise1 .two_box {width: 50%;height: auto;position: relative;float: left;}
.unit_4_lesson_1 .exercise1 .number_box {width:75%;margin: 10px auto;height: 130px;}
.unit_4_lesson_1 .exercise1 .dual_image_box{position: relative;height: 235px; padding: 15px;}
.unit_4_lesson_1 .exercise1 .sixteenImage{position: absolute;top: 0px;bottom: 0px;height: 100%;width: auto;left: 5%;}
.unit_4_lesson_1 .exercise1 .seventeenImage{position: absolute;bottom: 0px;height: 120%;width: auto;right:0px;}
.unit_4_lesson_1 .exercise1 .number_word {width: 75%;margin: auto;height: 100%;}
.unit_4_lesson_1 .exercise1 .number_word img{width: auto; height: auto; max-height: 100%;}
.unit_4_lesson_1 .exercise1 .two_box:after {background: url(../../images/unit1/lesson_1/exercise_1/line.png) right top;width: 20px;height: 100%;position: absolute;content: '';right: -10px;top: 0;background-size: 100%;}
/********************** unit_4_lesson_1 .exercise_1 End ********************/


/********************** unit_4_lesson_1 .exercise_2 Start ********************/
.unit_4_lesson_1 .exercise2 .two_box_number {width: 50%;float: left;height: 100px;display: flex;align-items: center;justify-content: center;position: relative;bottom: 2px;}
.unit_4_lesson_1 .exercise2 .navbar {width: 100%;height: 100px;position: relative;float: left;}
.unit_4_lesson_1 .exercise2 .sixteenImage{width: 100%;float: left;}
.unit_4_lesson_1 .exercise2 .sixteenImage img{width: 25%;float: left; max-height: 60px;}
.unit_4_lesson_1 .exercise2 .seventeenImage{width: 100%;float: left;text-align: center;}
.unit_4_lesson_1 .exercise2 .seventeenImage img{width: 50%;float: left; max-height: 70px;}
.unit_4_lesson_1 .exercise2 .seventeenImage img:last-child{float:none;margin: 0px auto;}

.unit_4_lesson_1 .exercise2 .text_area_fill{width: 90%;float: left;margin-left:5%;}
.unit_4_lesson_1 .exercise2 .input_area_number input {font-family: 'quicksanddash';width: 100%;height: 60px;text-align: left;border-top: 1px solid #000;border-bottom: 1px solid #000;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 25px;position: relative;padding-top: 5px;background: transparent;border: none;}
.unit_4_lesson_1 .exercise2 .input_area_number .placeholder{font-family: 'quicksanddash';width: 100%;height: 60px;text-align: left;border-top: 1px solid #000;border-bottom: 1px solid #000;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 25px;position: absolute;color: #ccc;opacity: 0.5;padding-top: 0px;background: url('../../images/globle/input_bg.png');}
.unit_4_lesson_1 .exercise2 .input_area_text input{width: 100%;height: 60px;text-align: left;background: transparent;position: relative;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 15px;border: honeydew;font-family: 'quicksanddash';}
.unit_4_lesson_1 .exercise2 .input_area_text .placeholder {font-family: 'quicksanddash';width: 100%;height: 60px;text-align: left;border-top: 1px solid #000;border-bottom: 1px solid #000;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 15px;position: absolute;color: #ccc;opacity: 0.5;padding-top: 0px;background: url('../../images/globle/input_bg.png');}
.unit_4_lesson_1 .exercise2 .text_area.Zoom {width: 45%; float: left;}
.unit_4_lesson_1 .exercise2 .text_area.spiker_icon.Zoom {width: 60px;margin-right: 5px;}
.unit_4_lesson_1 .exercise2 .two_box_number:last-child img{min-height:65px;}
.unit_4_lesson_1 .exercise2 .infoText{color:#de1d13;font-size: 14px;font-family: 'riffic', Arial, Helvetica, sans-serif; text-align: center;width: 100%;float: left;margin: 10px 0px 0px 0px;}
/********************** unit_4_lesson_1 .exercise_2 End ********************/

/********************** unit_4_lesson_1 .exercise_3 Start ********************/
.unit_4_lesson_1 .exercise3 .header_text{max-width: 98%;}
.unit_4_lesson_1 .exercise3 .exercise_3_main{ width: 100%; position: relative; float: left; height: 100%; }
.unit_4_lesson_1 .exercise3 .bg_div{ background: url(../../images/unit4/lession_1/exercise_3/background.png) center center; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover;}

.unit_4_lesson_1 .exercise3 .left_dreg_drop_area{width: 50%; float: left; height: 100%;}
.unit_4_lesson_1 .exercise3 .drop_Box {width: 320px; height: 172px; background: url(../../images/unit4/lession_1/exercise_3/10_blank_box.png) center center; background-size: 100%; background-repeat: no-repeat;  position: relative; top: 0px; left: 17px; float: left; margin-top: 20px; display: flex;flex-wrap: wrap; overflow: hidden;}
.unit_4_lesson_1 .exercise3 .dreg_area { width: 100%; float: left; height: auto; display: flex; align-items: center; justify-content: left; position: relative; left: 17px; top: 10px;}

.unit_4_lesson_1 .exercise3 .number_box {margin: 0px; width: 70px;}
.unit_4_lesson_1 .exercise3 .left_dreg_drop_area .dreg_area .icon_box.dreg_box_item {margin: 0px 5px;  width: 50px; top: 0 !important; left: 0 !important; cursor: pointer;}
.unit_4_lesson_1 .exercise3 .right_dreg_drop_area .dreg_area .icon_box.dreg_box_item {top: 0 !important;left: 0 !important;float: left;width: 70px;cursor: pointer;}
.unit_4_lesson_1 .exercise3 .text_box {margin: 15px 5px;}

.unit_4_lesson_1 .exercise3 .number_box img{width: 100%;}
.unit_4_lesson_1 .exercise3 .icon_box img{width: 100%;}
.unit_4_lesson_1 .exercise3 .text_box img{width: 100%;}

.unit_4_lesson_1 .exercise3 .right_dreg_drop_area{width: 50%; float: left; height: 100%;}
.unit_4_lesson_1 .exercise3 .right_dreg_drop_area .drop_Box { width: 320px; height: 172px; background: url(../../images/unit4/lession_1/exercise_3/10_blank_box.png) center center; background-size: 100%; background-repeat: no-repeat; position: relative; top: 0px; left:0px; margin-top: 20px; display: flex;flex-wrap: wrap; overflow: hidden;}
.unit_4_lesson_1 .exercise3 .right_dreg_drop_area .dreg_area { width: 100%; float: left; height: auto; display: flex; align-items: center; justify-content: left; position: relative; top: 10px; left: 0px;}

.unit_4_lesson_1 .exercise3 .right_dreg_drop_area .number_box {margin: 0px; width: 70px;}
.unit_4_lesson_1 .exercise3 .drop_Box .icon_box{position: static !important;width:20%;display: flex;height: 50%;margin: 0px;padding: 0px 5px;justify-content: center;align-items: center;}

.unit_4_lesson_1 .exercise3 .right_dreg_drop_area .text_box {margin: 15px 5px; width: 120px;}
.unit_4_lesson_1 .exercise3 .right_dreg_drop_area .number_box img{width: 100%;}
.unit_4_lesson_1 .exercise3 .right_dreg_drop_area .icon_box img{width: 100%;}

.unit_4_lesson_1 .exercise3 #triangles {top: 0 !important; left: 0 !important; float: left; width: 50px; cursor: pointer;}
.unit_4_lesson_1 .exercise3 .right_dreg_drop_area .text_box img{width: 100%;}
.unit_4_lesson_1 .exercise3 .botton_box{bottom: 0px;right: 8px;}
/********************** unit_4_lesson_1 .exercise_3 End ********************/


/********************** unit_4_lesson_1 .exercise_4 Start ********************/
.unit_4_lesson_1 .exercise4 .header_text{margin-left: 28%;max-width: 350px;}
.unit_4_lesson_1 .exercise4 .right_pointer_img {position: relative;width: 326px;height: 94px;top: -10px;z-index: 9;float: right; text-align: right;}
.unit_4_lesson_1 .exercise4 .right_pointer_img img{width: auto;}
.unit_4_lesson_1 .exercise4 .two_box_number {width: 50%;float: left;display: flex;align-items: center;justify-content: center;position: relative;bottom: 2px;}
.unit_4_lesson_1 .exercise4 .navbar {width: 100%;position: relative;float: left;margin: 15px 0px 20px 0px;padding: 0px 0px 20px 0px;}
.unit_4_lesson_1 .exercise4 .two_box_number .image_area{width: 75%;margin:0px auto; position: relative;}
.unit_4_lesson_1 .exercise4 .two_box_number .image_area .redCircle{position: absolute;width: 60px;height: 60px;bottom: -6px;border-radius: 50%;}
.unit_4_lesson_1 .exercise4 .two_box_number .image_area .redCircle.selected{border: 4px solid red;}
.unit_4_lesson_1 .exercise4 .two_box_number .image_area .sixteenCircle{left: 20%;}
.unit_4_lesson_1 .exercise4 .two_box_number .image_area .seventeenCircle{left: 62%;}
.unit_4_lesson_1 .exercise4 .two_box_number:last-child .redCircle{bottom: 0px;}
.unit_4_lesson_1 .exercise4 .match_box{width: 100%;float: left;padding: 20px 12% 0px 10%;margin: 0px 0px 0px 0px; background:#fff;position: relative;}
.unit_4_lesson_1 .exercise4 .match_box img{max-height: 65px;width: auto;}
.unit_4_lesson_1 .exercise4 .match_box .left_area{float: left;width:70%; position: relative; z-index: 1;}
.unit_4_lesson_1 .exercise4 .match_box .right_area{float: right; width: 30%; position: relative; z-index: 1;}
.unit_4_lesson_1 .exercise4 .match_box .left_box{margin:5px 0px;float: left; width: 100%;position: relative; }
.unit_4_lesson_1 .exercise4 .match_item_left{float: left;position: relative;}
.unit_4_lesson_1 .exercise4 .match_box .right_area .match_item_left{float: right;}
.unit_4_lesson_1 .exercise4 .left_area .clikBox {width: 20px;cursor: pointer;height: 20px;border-radius: 50%;position: absolute;right: 0px;top: 20px;}
.unit_4_lesson_1 .exercise4 .right_area .clikBox {width: 20px;cursor: pointer;height: 20px;border-radius: 50%;position: absolute;left: 0px;top: 20px;}
.unit_4_lesson_1 .exercise4 .bottom_border:after {background: #fff url(../../images/unit1/lesson_1/exercise_2/horizontal_line.png) right top;width: 100%;height: 44px;position: absolute;content: '';left: 0;background-repeat: no-repeat;bottom: -33px;background-size: 100%;}

.unit_4_lesson_1 .exercise4 .match_box .line{position: absolute;height: 2px;background: #d2232a; display: none;}
.unit_4_lesson_1 .exercise4 .match_box .line.line_1{top: 33%;left: 35%;width: 45%;}
.unit_4_lesson_1 .exercise4 .match_box .line.line_2{top: 77%;left: 39%;width: 41%;}
.unit_4_lesson_1 .exercise4 .match_box .line.line_3{top: 54%;left: 35%;width: 45%;transform: rotate(11deg);}
.unit_4_lesson_1 .exercise4 .match_box .line.line_4{top: 55%;left: 39%;width: 42%;transform: rotate(-12deg);}
/********************** unit_4_lesson_1 .exercise_4 End ********************/


/********************** unit_4_lesson_2 .exercise_1 Start ********************/
.unit_4_lesson_2 .exercise1 .header_part{height:70px;}
.unit_4_lesson_2 .exercise1 .number_line{width:96%;float:left;margin: 0px 2% 10px 2%;}
.unit_4_lesson_2 .exercise1 .middleline{width:100%;float:left;margin:0px 0px 10px 0px;}
.unit_4_lesson_2 .exercise1 .middleline img{width:90%; margin:0px 5%; height: auto;}
.unit_4_lesson_2 .exercise1 .lessmore_box{display:flex;width:100%;float:left;}
.unit_4_lesson_2 .exercise1 .lessmore_box > div{width: 400px; text-align:center;}
.unit_4_lesson_2 .exercise1 .lessmore_box > div img{width: auto;max-width: 90%;}
.unit_4_lesson_2 .exercise1 .lessmore_box > div:nth-child(2) img{max-width: 100%;}
.unit_4_lesson_2 .exercise1 .lessmore_box > div .Zoom{margin:10px 0px;}
.unit_4_lesson_2 .exercise1 .lessmore_box > div .sound_text{text-align: center;display: table;padding-left: 5%; height: 50px;}
.unit_4_lesson_2 .exercise1 .lessmore_box > div .sound_text .Zoom{display: table-cell; vertical-align: middle;}
.unit_4_lesson_2 .exercise1 .lessmore_box > div .sound_text .Zoom.text_image{text-align: left;}
/********************** unit_4_lesson_2 .exercise_1 End ********************/



/********************** unit_4_lesson_3 .exercise_1 Start ********************/
.unit_4_lesson_3 .header_part{width: 100%; height: 39px;float: left;position: relative;}
.unit_4_lesson_3 .header_text{color:#de1d13;font-size: 14px;font-family: 'riffic', Arial, Helvetica, sans-serif;max-width: 600px;margin: 10px 0px 0px 0px;}
.unit_4_lesson_3 .exercise1 .two_box {width: 50%;height: auto;position: relative;float: left;}
.unit_4_lesson_3 .exercise1 .number_box {width:75%;margin: 10px auto;height: 130px;}
.unit_4_lesson_3 .exercise1 .dual_image_box{position: relative;height: 235px; padding: 15px;}
.unit_4_lesson_3 .exercise1 .sixteenImage{position: absolute;top: 0px;bottom: 0px;height: 100%;width: auto;left: 5%;}
.unit_4_lesson_3 .exercise1 .seventeenImage{position: absolute;bottom: 0px;height: 120%;width: auto;right:0px;}
.unit_4_lesson_3 .exercise1 .number_word {width: 75%;margin: auto;height: 100%;}
.unit_4_lesson_3 .exercise1 .number_word img{width: auto; height: auto; max-height: 100%;}
.unit_4_lesson_3 .exercise1 .two_box:after {background: url(../../images/unit1/lesson_1/exercise_1/line.png) right top;width: 20px;height: 100%;position: absolute;content: '';right: -10px;top: 0;background-size: 100%;}
/********************** unit_4_lesson_3 .exercise_1 End ********************/


/********************** unit_4_lesson_3 .exercise_2 Start ********************/
.unit_4_lesson_3 .exercise2 .two_box_number {width: 50%;float: left;height: 100px;display: flex;align-items: center;justify-content: center;position: relative;bottom: 2px;}
.unit_4_lesson_3 .exercise2 .navbar {width: 100%;height: 100px;position: relative;float: left;}
.unit_4_lesson_3 .exercise2 .sixteenImage{width: 100%;float: left;}
.unit_4_lesson_3 .exercise2 .sixteenImage img{float: left;margin-top: 7px;}
.unit_4_lesson_3 .exercise2 .seventeenImage{width: 100%;float: left;text-align: center; background: #fff;}
.unit_4_lesson_3 .exercise2 .seventeenImage img{float: left; max-height: 150px;}
.unit_4_lesson_3 .exercise2 .seventeenImage img:last-child{float:none;margin: 0px auto;}

.unit_4_lesson_3 .exercise2 .text_area_fill{width: 90%;float: left;margin-left:5%; background: #fff;}
.unit_4_lesson_3 .exercise2 .input_area_number input {font-family: 'quicksanddash';width: 100%;height: 60px;text-align: left;border-top: 1px solid #000;border-bottom: 1px solid #000;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 25px;position: relative;padding-top: 5px;background: transparent;border: none;}
.unit_4_lesson_3 .exercise2 .input_area_number .placeholder{font-family: 'quicksanddash';width: 100%;height: 60px;text-align: left;border-top: 1px solid #000;border-bottom: 1px solid #000;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 25px;position: absolute;color: #ccc;opacity: 0.5;padding-top: 0px;background: url('../../images/globle/input_bg.png');}
.unit_4_lesson_3 .exercise2 .input_area_text input{width: 100%;height: 60px;text-align: left;background: transparent;position: relative;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 24px;border: honeydew;font-family: 'quicksanddash';}
.unit_4_lesson_3 .exercise2 .input_area_text .placeholder {font-family: 'quicksanddash';width: 100%;height: 60px;text-align: left;border-top: 1px solid #000;border-bottom: 1px solid #000;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 25px;position: absolute;color: #ccc;opacity: 0.5;padding-top: 0px;background: url('../../images/globle/input_bg.png');}
.unit_4_lesson_3 .exercise2 .text_area.Zoom {width: 45%; float: left;}
.unit_4_lesson_3 .exercise2 .text_area.spiker_icon.Zoom {width: 60px;margin-right: 5px;}
.unit_4_lesson_3 .exercise2 .two_box_number:last-child img{min-height:65px;}
.unit_4_lesson_3 .exercise2 .infoText{color:#de1d13;font-size: 14px;font-family: 'riffic', Arial, Helvetica, sans-serif; text-align: center;width: 100%;float: left;margin: 10px 0px 0px 0px;}
/********************** unit_4_lesson_3 .exercise_2 End ********************/

/********************** unit_4_lesson_3 .exercise_3 Start ********************/
.unit_4_lesson_3 .exercise3 .header_text{max-width: 98%;}
.unit_4_lesson_3 .exercise3 .exercise_3_main{ width: 100%; position: relative; float: left; height: 100%; }
.unit_4_lesson_3 .exercise3 .bg_div{ background: url(../../images/unit4/lession_3/exercise_3/background.png) center center; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover;}

.unit_4_lesson_3 .exercise3 .left_dreg_drop_area{width: 50%; float: left; height: 100%;}
.unit_4_lesson_3 .exercise3 .drop_Box {width: 320px; height: 172px; background: url(../../images/unit4/lession_3/exercise_3/10_blank_box.png) center center; background-size: 100%; background-repeat: no-repeat;  position: relative; top: 0px; left: 17px; float: left; margin-top: 20px; display: flex;flex-wrap: wrap; overflow: hidden;}
.unit_4_lesson_3 .exercise3 .dreg_area { width: 100%; float: left; height: auto; display: flex; align-items: center; justify-content: left; position: relative; left: 17px; top: 10px;}

.unit_4_lesson_3 .exercise3 .number_box {margin: 0px; width: 70px;}
.unit_4_lesson_3 .exercise3 .left_dreg_drop_area .dreg_area .icon_box.dreg_box_item {margin: 0px 5px;  width: 50px; top: 0 !important; left: 0 !important; cursor: pointer;}
.unit_4_lesson_3 .exercise3 .right_dreg_drop_area .dreg_area .icon_box.dreg_box_item {top: 0 !important;left: 0 !important;float: left;width: 70px;cursor: pointer;}
.unit_4_lesson_3 .exercise3 .text_box {margin: 15px 5px;}

.unit_4_lesson_3 .exercise3 .number_box img{width: 100%;}
.unit_4_lesson_3 .exercise3 .icon_box img{width: 100%;}
.unit_4_lesson_3 .exercise3 .text_box img{width: 100%;}

.unit_4_lesson_3 .exercise3 .right_dreg_drop_area{width: 50%; float: left; height: 100%;}
.unit_4_lesson_3 .exercise3 .right_dreg_drop_area .drop_Box { width: 320px; height: 172px; background: url(../../images/unit4/lession_3/exercise_3/10_blank_box.png) center center; background-size: 100%; background-repeat: no-repeat; position: relative; top: 0px; left:0px; margin-top: 20px; display: flex;flex-wrap: wrap; overflow: hidden;}
.unit_4_lesson_3 .exercise3 .right_dreg_drop_area .dreg_area { width: 100%; float: left; height: auto; display: flex; align-items: center; justify-content: left; position: relative; top: 10px; left: 0px;}

.unit_4_lesson_3 .exercise3 .right_dreg_drop_area .number_box {margin: 0px; width: 70px;}
.unit_4_lesson_3 .exercise3 .drop_Box .icon_box{position: static !important;width:20% !important;display: flex;height: 50%;margin: 0px;padding: 0px 5px;justify-content: center;align-items: center;}

.unit_4_lesson_3 .exercise3 .right_dreg_drop_area .text_box {margin: 15px 5px; width: 120px;}
.unit_4_lesson_3 .exercise3 .right_dreg_drop_area .number_box img{width: 100%;}
.unit_4_lesson_3 .exercise3 .right_dreg_drop_area .icon_box img{width: 100%;}

.unit_4_lesson_3 .exercise3 #triangles {top: 0 !important; left: 0 !important; float: left; width: 50px; cursor: pointer;}
.unit_4_lesson_3 .exercise3 .right_dreg_drop_area .text_box img{width: 100%;}
.unit_4_lesson_3 .exercise3 .botton_box{bottom: 0px;right: 8px;}
/********************** unit_4_lesson_3 .exercise_3 End ********************/


/********************** unit_4_lesson_3 .exercise_4 Start ********************/
.unit_4_lesson_3 .exercise4 .header_text{margin-left: 28%;max-width: 350px;}
.unit_4_lesson_3 .exercise4 .right_pointer_img {position: relative;width: 326px;height: 94px;top: -10px;z-index: 9;float: right; text-align: right;}
.unit_4_lesson_3 .exercise4 .right_pointer_img img{width: auto;}
.unit_4_lesson_3 .exercise4 .two_box_number {width: 50%;float: left;display: flex;align-items: center;justify-content: center;position: relative;bottom: 2px; height: 100%;}
.unit_4_lesson_3 .exercise4 .navbar {width: 100%;position: relative;float: left;margin: 15px 0px 20px 0px;padding: 0px 0px 20px 0px; height: calc(55% - 35px);}
.unit_4_lesson_3 .exercise4 .two_box_number .image_area{width: 100%;margin:0px auto; position: relative; height: 100%;}
.unit_4_lesson_3 .exercise4 .two_box_number .image_area img{width: auto; max-height: 100%;}
.unit_4_lesson_3 .exercise4 .two_box_number.fire_box .image_area {text-align: right;}
.unit_4_lesson_3 .exercise4 .water_drop{position: absolute;top:0px;left:0px;right:0px;bottom:0px;}
.unit_4_lesson_3 .exercise4 .water_drop .drop{position: absolute;right:0px;top:0px;width:10%;background-image: url('../../images/unit4/lession_3/exercise_4/blank_drop.png'); background-size: 100% 100%; background-repeat: no-repeat;}
.unit_4_lesson_3 .exercise4 .water_drop .drop.selected{background-image: url('../../images/unit4/lession_3/exercise_4/color_drop.png'); background-size: 100% 100%; background-repeat: no-repeat;}
.unit_4_lesson_3 .exercise4 .water_drop .drop1{top: 1%;left: 53%;transform: rotate(-27deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop2{top: 15%;left: 64%;transform: rotate(2deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop3{top: 26%;left: 73%;transform: rotate(1deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop4{top: 43%;left: 76%;transform: rotate(-10deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop5{top: 53%;left: 86%;transform: rotate(-20deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop6{top: 72%;left: 88%;transform: rotate(-16deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop7{top: 15%;left: 41%;transform: rotate(-31deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop8{top: 28%;left: 34%;transform: rotate(-43deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop9{top: 22%;left: 52%;transform: rotate(-12deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop10{top: 33%;left: 60%;transform: rotate(-16deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop11{top: 49%;left: 62%;transform: rotate(-10deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop12{top: 57%;left: 72%;transform: rotate(12deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop13{top: 75%;left: 76%;transform: rotate(-14deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop14{top: 83%;left: 64%;transform: rotate(46deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop15{top: 68%;left: 65%;transform: rotate(30deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop16{top: 49%;left: 48%;transform: rotate(-31deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop17{top: 64%;left: 50%;transform: rotate(-7deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop18{top: 80%;left: 50%;transform: rotate(38deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop19{top: 60%;left: 40%;transform: rotate(68deg);}
.unit_4_lesson_3 .exercise4 .water_drop .drop20{top: 73%;left: 39%;transform: rotate(38deg);}

.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop{background-image: url('../../images/unit4/lession_3/exercise_4/blank_fire.png');}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop.selected{background-image: url('../../images/unit4/lession_3/exercise_4/color_fire.png');}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop1{top: 1%;left: 17%;transform: rotate(24deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop2{top: 10%;left: 30%;transform: rotate(2deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop3{top: 26%;left: 38%;transform: rotate(1deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop4{top: 43%;left: 6%;transform: rotate(-10deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop5{top: 2%;left: 42%;transform: rotate(-20deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop6{top: 17%;left: 49%;transform: rotate(-16deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop7{top: 15%;left: 9%;transform: rotate(-31deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop8{top: 28%;left: 0%;transform: rotate(-43deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop9{top: 22%;left: 19%;transform: rotate(-12deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop10{top: 33%;left: 27%;transform: rotate(-16deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop11{top: 49%;left: 31%;transform: rotate(-10deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop12{top: 46%;left: 18%;transform: rotate(-48deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop13{top: 63%;left: 51%;transform: rotate(-54deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop14{top: 0%;left: 59%;transform: rotate(-5deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop15{top: 54%;left: 60%;transform: rotate(-80deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop16{top: 49%;left: 41%;transform: rotate(-31deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop17{top: 36%;left: 50%;transform: rotate(-7deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop18{top: 68%;left: 39%;transform: rotate(-74deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop19{top: 60%;left: 8%;transform: rotate(-109deg);}
.unit_4_lesson_3 .exercise4 .fire_box .water_drop .drop20{top: 69%;left: 21%;transform: rotate(-63deg);}

.unit_4_lesson_3 .exercise4 .match_box{width: 100%;float: left;padding: 20px 12% 0px 10%;margin: 0px 0px 0px 0px; background:#fff;position: relative; }
.unit_4_lesson_3 .exercise4 .match_box img{max-height: 65px;width: auto;}
.unit_4_lesson_3 .exercise4 .match_box .left_area{float: left;width:20%; position: relative; z-index: 1;}
.unit_4_lesson_3 .exercise4 .match_box .right_area{float: right; width: 60%; position: relative; z-index: 1;}
.unit_4_lesson_3 .exercise4 .match_box .left_box{margin:5px 0px;float: left; width: 100%;position: relative; }
.unit_4_lesson_3 .exercise4 .match_item_left{float: left;position: relative;}
.unit_4_lesson_3 .exercise4 .match_box .right_area .match_item_left{float: right;}
.unit_4_lesson_3 .exercise4 .left_area .clikBox {width: 20px;cursor: pointer;height: 20px;border-radius: 50%;position: absolute;right: 0px;top: 20px;}
.unit_4_lesson_3 .exercise4 .right_area .clikBox {width: 20px;cursor: pointer;height: 20px;border-radius: 50%;position: absolute;left: 0px;top: 20px;}
.unit_4_lesson_3 .exercise4 .bottom_border:after {background: #fff url(../../images/unit4/lession_3/exercise_4/horizontal_line.png) right top;width: 100%;height: 44px;position: absolute;content: '';left: 0;background-repeat: no-repeat;bottom: -33px;background-size: 100%;}

.unit_4_lesson_3 .exercise4 .match_box .line{position: absolute;height: 2px;background: #00aeef; display: none;}
.unit_4_lesson_3 .exercise4 .match_box .line.line_1{top: 33%;left: 17%;width: 61%;}
.unit_4_lesson_3 .exercise4 .match_box .line.line_2{top: 76%;left: 18%;width: 61%;}
.unit_4_lesson_3 .exercise4 .match_box .line.line_3{top: 58%;left: 16%;width: 61%;transform: rotate(9deg);}
.unit_4_lesson_3 .exercise4 .match_box .line.line_4{top: 52%;left: 15%;width: 61%;transform: rotate(-10deg);}
/********************** unit_4_lesson_3 .exercise_4 End ********************/






/********************** unit_4_lesson_5 .exercise_1 Start ********************/
.unit_4_lesson_5 .header_part{width: 100%; height: 70px;float: left;position: relative;}
.unit_4_lesson_5 .header_text{color:#de1d13;font-size: 14px;font-family: 'riffic', Arial, Helvetica, sans-serif;max-width: 600px;margin: 10px 0px 0px 0px;}
.unit_4_lesson_5 .exercise1 .two_box {width: 100%;height: auto;position: relative;float: left;}
.unit_4_lesson_5 .exercise1 .number_box {width:50%;margin: 10px auto;height: 130px;text-align: center;}
.unit_4_lesson_5 .exercise1 .dual_image_box{position: relative;height: 290px; padding: 15px;}
.unit_4_lesson_5 .exercise1 .sixteenImage{position: absolute;bottom: 110px;height: 100%;width: auto;left: 5%;}
.unit_4_lesson_5 .exercise1 .sixteenImage1{position: absolute; bottom: 110px;height: 100%;width: auto;right:0;}
.unit_4_lesson_5 .exercise1 .seventeenImage{position: absolute;bottom: 0px;height: 120%;width: auto;right:0px;}
.unit_4_lesson_5 .exercise1 .number_word {width: 21% !important;height: 74%;}
.unit_4_lesson_5 .exercise1 .number_word img{width: auto; height: auto; max-height: 100%;}
/********************** unit_4_lesson_5 .exercise_1 End ********************/


/********************** unit_4_lesson_5 .exercise_2 Start ********************/
.unit_4_lesson_5 .exercise2 .header_part img{width: auto;}
.unit_4_lesson_5 .exercise2 .two_box_number {left: 24%;width: 50%;float: left;display: flex;align-items: center;justify-content: center;position: relative;bottom: 2px;}
.unit_4_lesson_5 .exercise2 .navbar {width: 100%;height: auto;position: relative;float: left;margin:0px 0px 15px 0px;padding:0px 0px 15px 0px;}
.unit_4_lesson_5 .exercise2 .sixteenImage{width: 100%;float: left;}
.unit_4_lesson_5 .exercise2 .sixteenImage img{width:100%;float: left; max-height: 245px;margin-top: 25px;}
.unit_4_lesson_5 .exercise2 .seventeenImage{width: 100%;float: left;text-align: center;}
.unit_4_lesson_5 .exercise2 .seventeenImage img{width: 50%;float: left; max-height: 70px;}
.unit_4_lesson_5 .exercise2 .seventeenImage img:last-child{float:none;margin: 0px auto;}

.unit_4_lesson_5 .exercise2 .text_area_fill{width: 90%;float: left;margin-left:5%;}
.unit_4_lesson_5 .exercise2 .input_area_number input {font-family: 'quicksanddash';width: 100%;height: 60px;text-align: left;border-top: 1px solid #000;border-bottom: 1px solid #000;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 25px;position: relative;padding-top: 5px;background: transparent;border: none;}
.unit_4_lesson_5 .exercise2 .input_area_number .placeholder{font-family: 'quicksanddash';width: 100%;height: 60px;text-align: left;border-top: 1px solid #000;border-bottom: 1px solid #000;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 25px;position: absolute;color: #ccc;opacity: 0.5;padding-top: 0px;background: url('../../images/globle/input_bg.png');}
.unit_4_lesson_5 .exercise2 .input_area_text input{width: 100%;height: 60px;text-align: left;background: transparent;position: relative;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 24px;border: honeydew;font-family: 'quicksanddash';}
.unit_4_lesson_5 .exercise2 .input_area_text .placeholder {font-family: 'quicksanddash';width: 100%;height: 60px;text-align: left;border-top: 1px solid #000;border-bottom: 1px solid #000;font-size: 45px;border-right: none;letter-spacing: 25px;padding: 0 0 0 25px;position: absolute;color: #ccc;opacity: 0.5;padding-top: 0px;background: url('../../images/globle/input_bg.png');}
.unit_4_lesson_5 .exercise2 .text_area.Zoom {width: 45%; float: left;}
.unit_4_lesson_5 .exercise2 .text_area.spiker_icon.Zoom {width: 60px;margin-right: 5px;}
.unit_4_lesson_5 .exercise2 .infoText{color:#de1d13;font-size: 14px;font-family: 'riffic', Arial, Helvetica, sans-serif; text-align: center;width: 100%;float: left;margin: 10px 0px 0px 0px;}
/********************** unit_4_lesson_1 .exercise_2 End ********************/

/********************** unit_4_lesson_2 .exercise_2 Start ********************/
.unit_4_lesson_2 .exercise2 .header_part{height:55px;}
.unit_4_lesson_2 .exercise2 .middleline{width:100%;float:left;margin:0px 0px 1px 0px;}
.unit_4_lesson_2 .exercise2 .middleline img{width:90%; margin:0px 5%; height: auto;}
.unit_4_lesson_2 .exercise2 .lessmore_box{display:flex;width:100%;float:left;padding:0px 5%;}
.unit_4_lesson_2 .exercise2 .lessmore_box > div{width: 400px; text-align:center; position: relative;}
.unit_4_lesson_2 .exercise2 .lessmore_box > div img{width: auto;max-width: 90%;}
.unit_4_lesson_2 .exercise2 .lessmore_box > div:nth-child(2) img{max-width: 100%; max-height: 120px;}
.unit_4_lesson_2 .exercise2 .lessmore_box > div .sound_text{text-align: center;display: table;padding-left: 5%; height: 50px;}
.unit_4_lesson_2 .exercise2 .lessmore_box > div .sound_text .Zoom{display: table-cell; vertical-align: middle;}
.unit_4_lesson_2 .exercise2 .lessmore_box > div .sound_text .Zoom.text_image{text-align: left;}

.unit_4_lesson_2 .exercise2 .lessmore_box > div .dreg_box{position: absolute;left: 25% !important;top: 0px !important;bottom: 0px;width: 50%;}
.unit_4_lesson_2 .exercise2 .lessmore_box > div .dreg_box img{display: none;}

.unit_4_lesson_2 .exercise2 .lessmore_box > div .drop_box{display: flex;height: 100%;justify-content: center;}
.unit_4_lesson_2 .exercise2 .lessmore_box > div .drop_box .dreg_box{display: flex; justify-content: center; align-items: center; position: static;}
.unit_4_lesson_2 .exercise2 .lessmore_box > div .drop_box .dreg_box img{display: block;width:100%;max-width:52px;}
.unit_4_lesson_2 .exercise2 .square_box .triangle_image,
.unit_4_lesson_2 .exercise2 .square_box .circle_image,
.unit_4_lesson_2 .exercise2 .triangle_box .square_image,
.unit_4_lesson_2 .exercise2 .triangle_box .circle_image,
.unit_4_lesson_2 .exercise2 .circle_box .square_image,
.unit_4_lesson_2 .exercise2 .circle_box .triangle_image{display: none !important;}
/********************** unit_4_lesson_2 .exercise_2 End ********************/

/********************** unit_4_lesson_2 .exercise_3 Start ********************/
.unit_4_lesson_2 .exercise3 .header_part{height:15px;}
.unit_4_lesson_2 .exercise3 .number_line{width:96%;float:left;margin: 0px 2% 0px 2%; position: relative;}
.unit_4_lesson_2 .exercise3 .number_line .text_box{position: absolute;left: 5%;bottom: 12px;width: 5%;border: 0px;font-size: 33px;font-weight: bold; text-align: center;}
.unit_4_lesson_2 .exercise3 .number_line .text_box1{left: 19.5%;}
.unit_4_lesson_2 .exercise3 .number_line .text_box2{left: 36%;}
.unit_4_lesson_2 .exercise3 .number_line .text_box3{left: 10%;}
.unit_4_lesson_2 .exercise3 .number_line img{ max-height: 160px;}
.unit_4_lesson_2 .exercise3 .lessmore_box{display:flex;width:100%;float:left;}
.unit_4_lesson_2 .exercise3 .lessmore_box > div{width: 400px; text-align:center;}
.unit_4_lesson_2 .exercise3 .lessmore_box > div img{width: auto;max-width: 90%;}
.unit_4_lesson_2 .exercise3 .lessmore_box > div:nth-child(2) img{max-width: 100%; max-height: 120px;}
.unit_4_lesson_2 .exercise3 .lessmore_box > div .sound_text{text-align: center;display: table;padding-left: 5%; height: 50px;}
.unit_4_lesson_2 .exercise3 .lessmore_box > div .sound_text .Zoom{display: table-cell; vertical-align: middle;}
.unit_4_lesson_2 .exercise3 .lessmore_box > div .sound_text .Zoom.text_image{text-align: left;}
/********************** unit_4_lesson_2 .exercise_3 End ********************/

/********************** unit_4_lesson_2 .exercise_4 Start ********************/
.unit_4_lesson_2 .exercise4 .header_part{height:15px;}
.unit_4_lesson_2 .exercise4 .number_line{width:96%;float:left;margin: 0px 2% 0px 2%; position: relative;}
.unit_4_lesson_2 .exercise4 .number_line .text_box{position: absolute;left: 5%;bottom: 12px;width: 5%;border: 0px;font-size: 33px;font-weight: bold; text-align: center;}
.unit_4_lesson_2 .exercise4 .number_line .text_box1{left: 28%;}
.unit_4_lesson_2 .exercise4 .number_line .text_box2{left: 19.2%;}
.unit_4_lesson_2 .exercise4 .number_line .text_box3{left: 45%;}
.unit_4_lesson_2 .exercise4 .number_line img{ max-height: 160px;}
.unit_4_lesson_2 .exercise4 .lessmore_box{display:flex;width:100%;float:left;}
.unit_4_lesson_2 .exercise4 .lessmore_box > div{width: 400px; text-align:center;}
.unit_4_lesson_2 .exercise4 .lessmore_box > div img{width: auto;max-width: 90%;}
.unit_4_lesson_2 .exercise4 .lessmore_box > div:nth-child(2) img{max-width: 100%; max-height: 120px;}
.unit_4_lesson_2 .exercise4 .lessmore_box > div .sound_text{text-align: center;display: table;padding-left: 5%; height: 50px;}
.unit_4_lesson_2 .exercise4 .lessmore_box > div .sound_text .Zoom{display: table-cell; vertical-align: middle;}
.unit_4_lesson_2 .exercise4 .lessmore_box > div .sound_text .Zoom.text_image{text-align: left;}
/********************** unit_4_lesson_2 .exercise_4 End ********************/

/********************** unit_4_lesson_4 .exercise_1 Start ********************/
.unit_4_lesson_4 .exercise1 .header_part{height:0px;}
.unit_4_lesson_4 .exercise1{position: relative; background:url('../../images/unit4/lession_4/exercise_1/background.png');background-size: 100% 100%;}
.unit_4_lesson_4 .exercise1 .number_position{position: absolute;bottom: 0px;left: 0px; right: 0px;width:100%;}
.unit_4_lesson_4 .exercise1 .number_box{width: 100%;float: left; height: auto; margin:0px 0px 10% 0px; display: flex;}
.unit_4_lesson_4 .exercise1 .number_box .number{width:350px;}
.unit_4_lesson_4 .exercise1 .number_box .number .Zoom{float: left;}
.unit_4_lesson_4 .exercise1 .number_box .number .Zoom img{width: auto; max-height: 50px;}
.unit_4_lesson_4 .exercise1 .number_box .number.first_number{padding-left: 2%;}
.unit_4_lesson_4 .exercise1 .number_text .number.second_number{padding-left: 2%;}
.unit_4_lesson_4 .exercise1 .number_text .number.third_number{padding-left: 2%;}
/********************** unit_4_lesson_1 .exercise_1 End ********************/

/********************** unit_4_lesson_4 .exercise_2 Start ********************/
.unit_4_lesson_4 .exercise2 .header_part{height:0px;}
.unit_4_lesson_4 .exercise2{background:#e1f4fc;}
.unit_4_lesson_4 .exercise2 .topSection{width: 100%;float: left; position: relative; height: 50%; }
.unit_4_lesson_4 .exercise2 .topSection img{max-height: 100%;}
.unit_4_lesson_4 .exercise2 .topSection input,
.unit_4_lesson_4 .exercise2 .bottomSection input{font-size: 34px;position: absolute;left: 0px;border: 1px solid #000;height: 60px;width: 60px;border-radius: 50%;bottom: 5%;left: 54%;text-align: center;font-weight: bold;}
.unit_4_lesson_4 .exercise2 .topSection input:nth-child(2){left: 73%;bottom:14%;}
.unit_4_lesson_4 .exercise2 .topSection input:last-child{left: 81%;bottom:32%;}
.unit_4_lesson_4 .exercise2 .topSection:after{background: url(../../images/unit4/lession_4/exercise_2/middle_line.png) right top;width: 100%;height: 50px;position: absolute;content: '';left: 0;background-repeat: no-repeat;bottom: -20px;background-size: 100%;}
.unit_4_lesson_4 .exercise2 .bottomSection{width: 100%;float: left; height: 50%;}
.unit_4_lesson_4 .exercise2 .bottomSection .ballonBox{width: 30%;float: left;height: 100%; display: flex; background: #e1f4fc;padding:0px 5px;}
.unit_4_lesson_4 .exercise2 .bottomSection .ballonBox img{position: relative;margin-top:30%}
.unit_4_lesson_4 .exercise2 .bottomSection .ballonBox div:nth-child(2n) img{margin-top:90%;}
.unit_4_lesson_4 .exercise2 .bottomSection .ballonBox div:last-child img{margin-top:140%;}
.unit_4_lesson_4 .exercise2 .bottomSection .antBox{width: 70%;float: left;height: 100%;padding: 15px; position: relative;}
.unit_4_lesson_4 .exercise2 .bottomSection .antBox img{max-height: 100%; background:#aae0f9;}
.unit_4_lesson_4 .exercise2 .bottomSection input{left: 28%;bottom: 30%;}
.unit_4_lesson_4 .exercise2 .bottomSection input:nth-child(2){left: 66%;bottom: 42%;}
.unit_4_lesson_4 .exercise2 .bottomSection input:last-child{left: 84%;bottom:30%;}
/********************** unit_4_lesson_1 .exercise_2 End ********************/

/********************** unit_4_lesson_4 .exercise_3 Start ********************/
.unit_4_lesson_4 .exercise3 .header_part{height:0px;}
.unit_4_lesson_4 .exercise3 .bus_image_box{display: flex;width: 100%; justify-items: center; align-items: center; height: 100%;}
.unit_4_lesson_4 .exercise3 .bus_image_box .bus_image{position: relative; height: 100%;}
.unit_4_lesson_4 .exercise3 .bus_image_box .bus_image img{max-height: 100%; width: auto;}
.unit_4_lesson_4 .exercise3 .bus_image_box .bus_image .soundImage{position: absolute;left:0px;right: 0px;top:0px;bottom:0px;}
.unit_4_lesson_4 .exercise3 .bus_image_box .bus_image .Zoom{position: absolute;bottom: 36%;}
.unit_4_lesson_4 .exercise3 .bus_image_box .bus_image .Zoom:first-child{left: 25%;}
.unit_4_lesson_4 .exercise3 .bus_image_box .bus_image .Zoom:nth-child(2){left: 41%; bottom: 22%;}
.unit_4_lesson_4 .exercise3 .bus_image_box .bus_image .Zoom:nth-child(3){left: 55%;}
.unit_4_lesson_4 .exercise3 .bus_image_box .bus_image .Zoom:nth-child(4){left: 70%; bottom: 22%;}
.unit_4_lesson_4 .exercise3 .bus_image_box .bus_image .Zoom:last-child{left: 84%;}
/********************** unit_4_lesson_1 .exercise_3 End ********************/

/********************** unit_4_lesson_4 .exercise_4 Start ********************/
.unit_4_lesson_4 .exercise4{background:#e3edd3;}
.unit_4_lesson_4 .exercise4 .header_part{height:40px;}
.unit_4_lesson_4 .exercise4 .addCircleBox{width: 100%;float: left;margin:15px 0px;background:#fff; position: relative;}
.unit_4_lesson_4 .exercise4 .circleArea{position: absolute;top: 0px;bottom: 0px;display: flex;border-radius: 50%;justify-content: center;align-items: center;}
.unit_4_lesson_4 .exercise4 .circleArea1{left: 2%;right: 36%;}
.unit_4_lesson_4 .exercise4 .circleArea2{left: 26%;right: 2%;}
.unit_4_lesson_4 .exercise4 .circleArea3{left: 0%;right: 26%;}
.unit_4_lesson_4 .exercise4 .circleArea .redCircle {width: 20%;border-radius: 50%;height: 80%;}
.unit_4_lesson_4 .exercise4 .circleArea2 .redCircle{height:88%}
.unit_4_lesson_4 .exercise4 .circleArea3 .redCircle{height:88%}
.unit_4_lesson_4 .exercise4 .circleArea .redCircle.selected{border:4px solid #f00;}
/********************** unit_4_lesson_4 .exercise_4 End ******************** /


/********** Unit 4 lesson_4 exercise 3 Start ***********/

.unit_4_lesson_5 .exercise3 {
    background: #fff;
}
.unit_4_lesson_5 .exercise3 {background: url(../../images/unit4/lession_5/exercise_3/bg.jpg)}

.unit_4_lesson_5 .exercise3 img {
    width: 100%;
    max-width: 100%;
}

.unit_4_lesson_5 .exercise3 .header_part {
    width: 100%;
    height: 90px;
    float: left;
    position: absolute;
}

.unit_4_lesson_5 .exercise3 .left_pointer_img {
    position: relative;
    width: 326px;
    height: 94px;
    left: -10px;
    /*top: -10px;*/
    z-index: 9;
    float: left;
}

.unit_4_lesson_5 .exercise3 .right_word_text {
    width: 150px;
    float: left;
    margin-top: 30px;
}

.unit_4_lesson_5 .exercise3 .color_area1 {
    width: 100%;
    top: 0px;
    position: relative;
    float: left;
}

.unit_4_lesson_5 .exercise3 .img_area {
    width: 100%;
    text-align: center;
    float: left;
}

.unit_4_lesson_5 .exercise3 .img_area img {
    width: 100%;
    height: 300px
}

.unit_4_lesson_5 .exercise3 .table_area {
    width: 55%;
    margin-top: 160px;
    margin-left: 16px;
}

.unit_4_lesson_5 .exercise3 .tablebox {
    width: 100%;
    height: 88px;
    float: left;
    border: 2px solid #000;
    margin-bottom: 2px;
    border-radius: 0px !important;
}
.unit_4_lesson_5 .exercise3 .mar{margin-top: 15px;}

.unit_4_lesson_5 .exercise3 .table_dot {
    width: 20%;
    cursor: pointer;
    float: left;
    height: 84px;
    border-right: 2px solid #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.unit_4_lesson_5 .exercise3 .twenty{margin: 282px 0px 0px 550px;}
.unit_4_lesson_5 .exercise3 .twenty img{width: 295px;}
.unit_4_lesson_5 .exercise3 .table_dot.table_dot1 {
    width: 10%
}

.unit_4_lesson_5 .exercise3 .table_dot img {
    width: 70%;
    margin-top: 0px;
}

.unit_4_lesson_5 .exercise3 .header_part.right_header {
    right: 0;
    float: right;
    text-align: right;
}

.unit_4_lesson_5 .exercise3 .right_header .left_pointer_img {
    left: inherit;
    right: 35px;
    position: absolute;
}

.unit_4_lesson_5 .exercise3 .middle_header .left_pointer_img {
    left: 0;
}

.unit_4_lesson_5 .exercise3 .img_part {
    width: 60%;
    float: left;
    text-align: center;
}

.unit_4_lesson_5 .exercise3 .img_part img {
    width: 64%;
}

.unit_4_lesson_5 .exercise3 .fill_area {
    width: 40%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.unit_4_lesson_5 .exercise3 .img_box {
    width: 70%;
    float: left;
    text-align: center;
}

.unit_4_lesson_5 .exercise3 .img_box img {
    width: 60%;
}

.unit_4_lesson_5 .exercise3 .yellow {
    background-color: #ffef10;
}

.unit_4_lesson_5 .exercise3 .border_none {
    border-right: none;
    border-radius: 0 10px 10px 0;
}
