/********************** unit_6_lesson_1 .exercise_1 Start ********************/
.unit_6_lesson_1 .exercise1 img{width: auto;}
.unit_6_lesson_1 .exercise1 .header_part{width: 100%;height: 0px;float: left;position: relative;}
.unit_6_lesson_1 .exercise1 .fullBox{width:100%;height: 100%;float:left;}
.unit_6_lesson_1 .exercise1 .topBox{width: 100%; height:45%;float: left; display: flex; position: relative;background: #f3dace;}
.unit_6_lesson_1 .exercise1 .topBox:after{background: url('../../images/unit6/lession_1/exercise_1/line_break.png') right top;width: 100%;height: 44px;position: absolute;content: '';left: 0;background-repeat: no-repeat;bottom: -40px;background-size: 100%; z-index: 2;}
.unit_6_lesson_1 .exercise1 .topBox > div{width:50%;display: flex; height: 100%;position: relative;justify-content: center;align-items: flex-end;}
.unit_6_lesson_1 .exercise1 .topBox img{width:100%;max-width: 300px;}
.unit_6_lesson_1 .exercise1 .topBox .numSound{position: absolute;top: 24%;right: 12%;display: flex;justify-content: center;align-items: center;}
.unit_6_lesson_1 .exercise1 .topBox .rightBox .numSound{top:25%;}
.unit_6_lesson_1 .exercise1 .topBox .imageBox{width: 100%; text-align: left;padding-left:10%;}
.unit_6_lesson_1 .exercise1 .topBox .imageBox img{width: auto; max-height: 180px;}
.unit_6_lesson_1 .exercise1 .bottomBox{height: 55%;}
.unit_6_lesson_1 .exercise1 .bottomBox:after{background: none;}
.unit_6_lesson_1 .exercise1 .bottomBox .imageBox{padding-left: 0px; text-align: right;}
.unit_6_lesson_1 .exercise1 .bottomBox .leftBox:after{background: url('../../images/unit6/lession_1/exercise_1/line.png') right top;width: 20px;height: 100%;position: absolute;content: '';right: -10px;top: 26px;background-size: 100%;}
.unit_6_lesson_1 .exercise1 .bottomBox .leftBox img{width: 100%;max-height: none;max-width: 100%;}
.unit_6_lesson_1 .exercise1 .bottomBox .rightBox .imageBox img{height: 260px;max-height: none; max-width: 100%;}
.unit_6_lesson_1 .exercise1 .bottomBox .numSound.bigsound{left: 0px;right: auto;top:13%;}
.unit_6_lesson_1 .exercise1 .bottomBox .numSound.smallsound{right: 5%;top:14%;}
.unit_6_lesson_1 .exercise1 .bottomBox .rightBox .numSound.bigsound{left:15%;top:20%;}
.unit_6_lesson_1 .exercise1 .bottomBox .rightBox .numSound.smallsound{left:15%;top:60%;right:auto;}
/********************** unit_6_lesson_1 .exercise_1 End ********************/

/********************** unit_7_lesson_4 .exercise_2 stsrt ********************/
.unit_6_lesson_1 .exercise2 .full_box{width: 100%; float: left;position: relative;}
.unit_6_lesson_1 .exercise2 .full_box .numSound {width:100%;display: flex;justify-content: center;align-items: center;}
.unit_6_lesson_1 .exercise2 .full_box img {width: 100%;max-width: 100%;}
.unit_6_lesson_1 .exercise2 .box_uper{ width: 100%; height: 100%; float: left;padding: 20px 5%;}
.unit_6_lesson_1 .exercise2 .full_box .box1{width:48%;float: left;border: 1px solid #231f20;border-radius: 10px;padding:10px 10px 10px 10px;margin-bottom: 20px; position: relative;}
.unit_6_lesson_1 .exercise2 .full_box .box2{width:48%;float: right;border: 1px solid #231f20;border-radius: 10px;padding:10px 10px 10px 10px; position: relative;}
.unit_6_lesson_1 .exercise2 .chack_box{ width: 100%; float: left;}
.unit_6_lesson_1 .exercise2 .chack{height: 55px;width: 22%;border: 1px solid;border-radius: 4px; float: left;position: absolute;}
.unit_6_lesson_1 .exercise2 .chack.selected{background: url('../../images/unit6/lession_1/exercise_2/tick.png') center center no-repeat;}
.unit_6_lesson_1 .exercise2 .check_box1{right: 3%;top: 14%;}
.unit_6_lesson_1 .exercise2 .check_box2{right: 3%;top: 66%;}
.unit_6_lesson_1 .exercise2 .check_box3{right: 3%;top: 12%;}
.unit_6_lesson_1 .exercise2 .check_box4{right: 3%;top: 75%;}
/********************** unit_7_lesson_4 .exercise_2 End ********************/

/********************** unit_7_lesson_1 .exercise_3 stsrt ********************/
.unit_6_lesson_1 .exercise3 .full_box{width: 100%; float: left;position: relative;}
.unit_6_lesson_1 .exercise3 .full_box .numSound {width:100%;display: flex;justify-content: center;align-items: center;}
.unit_6_lesson_1 .exercise3 .full_box img {width: 100%;max-width: 100%;}
.unit_6_lesson_1 .exercise3 .box_uper{ width: 100%; height: 100%; float: left;padding: 20px 5%;}
.unit_6_lesson_1 .exercise3 .full_box .box1{width:48%;float: left;border: 1px solid #231f20;border-radius: 10px;padding:0px 10px;margin-bottom: 20px; position: relative;}
.unit_6_lesson_1 .exercise3 .full_box .box2{width:48%;float: right;border: 1px solid #231f20;border-radius: 10px;padding:0px 10px; position: relative;}

.unit_6_lesson_1 .exercise3 .box_uper .selectedArea{position: absolute;border-radius: 50%;}
.unit_6_lesson_1 .exercise3 .box_uper .selectedArea.big{width: 81%;height: 46%;top: 0%;left: 1%;}
.unit_6_lesson_1 .exercise3 .box_uper .selectedArea.small{width: 58%;height: 46%;top: 56%;right: 12%;}
.unit_6_lesson_1 .exercise3 .box_uper .selectedArea.small2{width: 65%;height: 50%;top: 0%;right: 5%;}
.unit_6_lesson_1 .exercise3 .box_uper .selectedArea.big2{width: 75%;height: 52%;top: 49%;left: 3%;}
.unit_6_lesson_1 .exercise3 .box_uper .selectedArea.selected{border:2px solid #d1232a;}
/********************** unit_6_lesson_1 .exercise_3 End ********************/





/********************** unit_6_lesson_2 .exercise_1 Start ********************/
.unit_6_lesson_2 .exercise1{background-color: #fffce0;position: relative;}
.unit_6_lesson_2 .exercise1 img{width: auto;}
.unit_6_lesson_2 .exercise1 .header_part{width: 100%;height: 45px;float: left;position: relative;}
.unit_6_lesson_2 .exercise1 .counting_box{width:95%;float: left;margin-left:5%;background-color: #fffce0;}
.unit_6_lesson_2 .exercise1 .counting_box > div{width: 50%;float: left;}
.unit_6_lesson_2 .exercise1 .counting_box .numberBox {width: 100%;display: flex; justify-content: center; align-items: center;margin:10px 0px;}
.unit_6_lesson_2 .exercise1 .counting_box .numberBox .numSound{width:135px;display: flex;justify-content: center;align-items: center;}
.unit_6_lesson_2 .exercise1 .counting_box .numberBox .numImage{width: calc(100% - 135px);}
.unit_6_lesson_2 .exercise1 .counting_box .numberBox .numImage img{max-width: 250px;}
.unit_6_lesson_2 .exercise1 .bigImage{width:100%;float: left; text-align: center;background: inherit;}
.unit_6_lesson_2 .exercise1 .bigImage > img {position: absolute;left: 0px; bottom: 0px;}
/********************** unit_6_lesson_2 .exercise_1 End ********************/

/********************** unit_6_lesson_2 .exercise_2 Start ********************/
.unit_6_lesson_2 .exercise2{background:#c5c9d4 url(../../images/unit6/lession_2/exercise_2/background.png) center center no-repeat;background-size: cover;}
.unit_6_lesson_2 .exercise2 img{width: auto;}
.unit_6_lesson_2 .exercise2 .header_part{width: 100%;height: 55px;float: left;position: relative;}
.unit_6_lesson_2 .exercise2 .numberPanel{width: 100%; max-width: 800px;margin:0px auto;}
.unit_6_lesson_2 .exercise2 .numberPanel .numberRow{display: flex; width: 100%;background: #bcbdc0;padding: 0px 1px;}
.unit_6_lesson_2 .exercise2 .numberPanel .numberRow > div{width:90px; height:55px;font-size: 36px;background: #fff;margin: 2px 2px;display: flex;align-items: center;justify-content: center;font-family: 'riffic', Arial, Helvetica, sans-serif; cursor: pointer;}
.unit_6_lesson_2 .exercise2 .numberPanel .infoPanel{width: 100%;background: #fff;margin: 10px 0px 0px 0px; text-align: center; display: flex;border: 2px solid #bcbdc0;}
.unit_6_lesson_2 .exercise2 .numberPanel .infoPanel > div{padding:10px;width: 200px;}
.unit_6_lesson_2 .exercise2 .numberPanel .infoPanel > div > img{margin-bottom:10px;}
.unit_6_lesson_2 .exercise2 .numberPanel .lightbluebox .selected{background:#00aeef;}
.unit_6_lesson_2 .exercise2 .numberPanel .bluebox .selected{background:#5b4da0;}
.unit_6_lesson_2 .exercise2 .numberPanel .pinkbox .selected{background:#ec488c;}
.unit_6_lesson_2 .exercise2 .numberPanel .yellowbox .selected{background:#fff101;}
.unit_6_lesson_2 .exercise2 .numberPanel .greenbox .selected{background:#40ae49;}
.unit_6_lesson_2 .exercise2 .numberPanel .graybox .selected{background:#f58520;}
/********************** unit_6_lesson_2 .exercise_2 End ********************/

/********************** unit_6_lesson_2 .exercise_3 Start ********************/
.unit_6_lesson_2 .exercise3{background: url(../../images/unit6/lession_2/exercise_3/background.png) center center no-repeat;background-size: cover;}
.unit_6_lesson_2 .exercise3 img{width: auto;}
.unit_6_lesson_2 .exercise3 .header_part{width: 100%;height: auto;float: left;position: relative;}
.unit_6_lesson_2 .exercise3 .fullBox{width: 100%;float: left;}
.unit_6_lesson_2 .exercise3 .fullBox .imageBox{position: relative;width: 100%; max-width: 480px;margin: 0px auto;transform: rotate(-15deg);left: -14%;}
.unit_6_lesson_2 .exercise3 .dotline_area{position: absolute;left:0px;right:0px;top:0px;bottom:0px;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline{width:30px; height: 30px; position: absolute; cursor: pointer;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line1_dot{left: 26%;top: 11%;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line2_dot{left: 43%;top: 11%;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line3_dot{left: 57.5%;top: 11%;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line4_dot{left: 76%;top: 12%;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line5_dot{left: 76%;top: 31%;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line6_dot{left: 76%;top: 51%;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line7_dot{left: 77%;top: 71%;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line8_dot{left: 77%;top: 88%;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line9_dot{left: 91%;top: 89%;}
.unit_6_lesson_2 .exercise3 .dotline_area .dotline.line10_dot{left: 91%;top: 75%;}

.unit_6_lesson_2 .exercise3 .dotline_area .singleline{position: absolute;border-radius: 3px; background: #d1232a; display: none;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.selected{display: inline-block;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.line1{width: 17%;height: 4px;top: 15%;left: 29%;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.line2{width: 15%;height: 4px;top: 15%;left: 46%;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.line3{width: 21%;height: 4px;top: 15%;left: 59%;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.line4{width: 4px;height: 19%;top: 16%;left: 79%;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.line5{width: 4px;height: 22%;top: 34%;left: 79%;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.line6{width: 4px;height: 20%;top: 55%;left: 79%;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.line7{width: 4px;height: 19%;top: 75%;left: 79%;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.line8{width: 16%;height: 4px;top: 93%;left: 79%;}
.unit_6_lesson_2 .exercise3 .dotline_area .singleline.line9{width: 4px;height: 16%;top: 77%;left: 94%;}
/********************** unit_6_lesson_2 .exercise_3 End ********************/

/********************** unit_6_lesson_2 .exercise_4 Start ********************/
.unit_6_lesson_2 .exercise4{background: url(../../images/unit6/lession_2/exercise_4/background.png) center center no-repeat;background-size: cover;}
.unit_6_lesson_2 .exercise4 img{width: auto;}
.unit_6_lesson_2 .exercise4 .header_part{width: 100%;height: 80px;float: left;position: relative;}
.unit_6_lesson_2 .exercise4 .numberPanel{width: 100%; max-width: 800px;margin:0px auto;}
.unit_6_lesson_2 .exercise4 .numberPanel .numberRow{display: flex; width: 100%;background: #bcbdc0;padding: 0px 1px;}
.unit_6_lesson_2 .exercise4 .numberPanel .numberRow > div{width:90px; height:60px;font-size: 42px;background: #fff;margin: 2px 2px;display: flex;align-items: center;justify-content: center;font-family: 'riffic', Arial, Helvetica, sans-serif; cursor: pointer;}
.unit_6_lesson_2 .exercise4 .numberPanel .numberRow > div input{width: 100%; height: 95%; text-align: center;border:0px;color:#d1232a; background: url('../../images/unit7/lession_5/exercise_4/text_bg.png') center center no-repeat;padding:0px; background-size: 94% 100%;}
/********************** unit_6_lesson_2 .exercise_4 End ********************/


/********************** unit_6_lesson_3 .exercise_1 Start ********************/
.unit_6_lesson_3 .exercise1 img{width: auto;}
.unit_6_lesson_3 .exercise1 .header_part{width: 100%;height: 0px;float: left;position: relative;}
.unit_6_lesson_3 .exercise1 .fullBox{width:100%;height: 100%;float:left;}
.unit_6_lesson_3 .exercise1 .topBox{width: 100%; height:50%;float: left; display: flex; position: relative;background: #f3dace;}
.unit_6_lesson_3 .exercise1 .topBox:after{background: url('../../images/unit6/lession_3/exercise_1/line_break.png') right top;width: 100%;height: 44px;position: absolute;content: '';left: 0;background-repeat: no-repeat;bottom: -40px;background-size: 100%; z-index: 2;}
.unit_6_lesson_3 .exercise1 .topBox > div{width:50%;display: flex; height: 100%;position: relative;justify-content: center;align-items: flex-end;}
.unit_6_lesson_3 .exercise1 .topBox img{width:100%;max-width: 380px;}
.unit_6_lesson_3 .exercise1 .topBox .numSound{position: absolute;top: 14%;right: 12%;display: flex;justify-content: center;align-items: center;}
.unit_6_lesson_3 .exercise1 .topBox .rightBox .numSound{top:25%;}
.unit_6_lesson_3 .exercise1 .topBox .imageBox{width: 100%; text-align: center;}
.unit_6_lesson_3 .exercise1 .topBox .leftBoxFull{max-width: 600px; margin: 0px auto;position: relative;}
.unit_6_lesson_3 .exercise1 .topBox .leftBoxFull img{width: 100%;}
.unit_6_lesson_3 .exercise1 .topBox .leftBoxFull .numSound{top: 68%;left: -31%;right: auto;}
.unit_6_lesson_3 .exercise1 .topBox .leftBoxFull .numSound:last-child{top: 17%;left: auto;right: -28%;}
.unit_6_lesson_3 .exercise1 .bottomBox:after{background: none;}
.unit_6_lesson_3 .exercise1 .bottomBox .leftBox:after{background: url('../../images/unit6/lession_3/exercise_1/line.png') right top;width: 20px;height: 100%;position: absolute;content: '';right: -10px;top: 26px;background-size: 100%;}
.unit_6_lesson_3 .exercise1 .bottomBox .numSound.bigsound{left: 0px;right: auto;top:13%;}
.unit_6_lesson_3 .exercise1 .bottomBox .numSound.smallsound{right: 5%;top:14%;}
/********************** unit_6_lesson_3 .exercise_1 End ********************/

/********************** unit_6_lesson_3 .exercise_2 Start ********************/
.unit_6_lesson_3 .exercise2 img{width: auto;}
.unit_6_lesson_3 .exercise2 .header_part{width: 100%;height: 0px;float: left;position: relative;}
.unit_6_lesson_3 .exercise2 .fullBox{width: 100%;height: 100%;float: left; background: inherit;}
.unit_6_lesson_3 .exercise2 .topBox{width: 100%;height: 50%;float: left;position: relative;}
.unit_6_lesson_3 .exercise2 .topBox:after{background: url('../../images/unit6/lession_3/exercise_2/line_break.png') right top;width: 100%;height: 44px;position: absolute;content: '';left: 0;background-repeat: no-repeat;bottom: -40px;background-size: 100%; z-index: 2;}
.unit_6_lesson_3 .exercise2 .topBox .imageBox{width: 50%;float: left;margin-top: 20px;position: relative;padding:10px;}
.unit_6_lesson_3 .exercise2 .topBox .numSound{width: 100%;display: flex;justify-content: center;align-items: center;padding-top:25px;}
.unit_6_lesson_3 .exercise2 .topBox .imageBox .selectedArea{position: absolute;border-radius: 50%;}
.unit_6_lesson_3 .exercise2 .topBox .leftImgBox .selectedArea.object1{width: 44%;height: 79%;bottom: 15%;left: -2%;}
.unit_6_lesson_3 .exercise2 .topBox .leftImgBox .selectedArea.object2{width: 17%;height: 34%;bottom: 48%;right: 3%;}
.unit_6_lesson_3 .exercise2 .topBox .rightImgBox .selectedArea.object1{width: 20%;height: 40%;bottom: 53%;left: 1%;}
.unit_6_lesson_3 .exercise2 .topBox .rightImgBox .selectedArea.object2{width: 42%;height: 52%;bottom: 11%;right: 3%;}
.unit_6_lesson_3 .exercise2 .topBox .imageBox .selectedArea.selected{border: 2px solid #d1232a;}

.unit_6_lesson_3 .exercise2 .bottomBox{width: 100%;height: 50%;float: left;position: relative;}
.unit_6_lesson_3 .exercise2 .bottomBox .imageBox{width: 100%;max-width:535px;margin: 20px auto 0px auto;position: relative;padding: 10px;}
.unit_6_lesson_3 .exercise2 .bottomBox .dropArea{position: absolute;border: 1px dashed #9d9d9d;width: 15%;height: 43%;bottom: 13%;left: 2%;}
.unit_6_lesson_3 .exercise2 .bottomBox .dregArea{position: absolute;width: 13%; height: 43%; right: 0px;bottom: 0px;}
/********************** unit_6_lesson_3 .exercise_2 End ********************/

/********************** unit_6_lesson_3 .exercise_3 Start ********************/
.unit_6_lesson_3 .exercise3 img{width: auto;}
.unit_6_lesson_3 .exercise3 .header_part{width: 100%;height: 0px;float: left;position: relative;}
.unit_6_lesson_3 .exercise3 .fullBox{width: 100%;height: 100%;float: left; background: inherit;}
.unit_6_lesson_3 .exercise3 .topBox{width: 100%;height: 55%;float: left;position: relative;}
.unit_6_lesson_3 .exercise3 .topBox:after{background: url('../../images/unit6/lession_3/exercise_3/line_break.png') right top;width: 100%;height: 44px;position: absolute;content: '';left: 0;background-repeat: no-repeat;bottom: -40px;background-size: 100%; z-index: 2;}
.unit_6_lesson_3 .exercise3 .topBox .imageBox{width: 50%;float: left;margin-top: 20px;position: relative;padding:10px;}
.unit_6_lesson_3 .exercise3 .topBox .leftImgBox:after {background: url(../../images/unit6/lession_3/exercise_3/line.png) right top;width: 20px;height: 100%;position: absolute;content: '';right: -10px;top: 0px;background-size: 100%;}
.unit_6_lesson_3 .exercise3 .topBox .numSound{width: 100%;display: flex;justify-content: center;align-items: center;padding-top:25px;}
.unit_6_lesson_3 .exercise3 .chack{height: 55px;width: 22%;border: 1px solid;border-radius: 4px; float: left;position: absolute;background: #fff;}
.unit_6_lesson_3 .exercise3 .chack.selected{background: #fff url('../../images/unit6/lession_3/exercise_3/tick.png') center center no-repeat;}
.unit_6_lesson_3 .exercise3 .check_box1{left: 6%;bottom: 8%;}
.unit_6_lesson_3 .exercise3 .check_box2{right: 5%;bottom: 7%;}
.unit_6_lesson_3 .exercise3 .check_box3{left: 17%;bottom: 8%;}
.unit_6_lesson_3 .exercise3 .check_box4{right: 11%;bottom: 12%;}

.unit_6_lesson_3 .exercise3 .bottomBox{width: 100%;height: 45%;float: left;position: relative;}
.unit_6_lesson_3 .exercise3 .bottomBox .imageBox{width: 100%;max-width:535px;margin: 20px auto 0px auto;position: relative;padding: 10px;}
.unit_6_lesson_3 .exercise3 .bottomBox .dropArea{position: absolute;border: 1px dashed #9d9d9d;width: 12%;height: 34%;top: 4%;right: 8%;}
.unit_6_lesson_3 .exercise3 .bottomBox .dregArea{position: absolute;width: 10%; height: 43%; right: 0px;bottom: 0px;}
/********************** unit_6_lesson_3 .exercise_3 End ********************/

/********************** unit_6_lesson_3 .exercise_4 Start ********************/
.unit_6_lesson_3 .exercise4{background: url('../../images/unit6/lession_3/exercise_4/background.png') center center no-repeat; background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 img{width: auto;}
.unit_6_lesson_3 .exercise4 .header_part{width: 100%;height:55px;float: left;position: relative;}
.unit_6_lesson_3 .exercise4 .fullBox{width:100%;float:left;padding:0px 10px;}
.unit_6_lesson_3 .exercise4 .fullBox .leftBox{width:calc(100% - 200px);float: left;}
.unit_6_lesson_3 .exercise4 .fullBox .rightBox{width:190px;float: right;}
.unit_6_lesson_3 .exercise4 .fullBox .rightBox > div{width: 100%;float: left; position: relative;margin-top:25%;}
.unit_6_lesson_3 .exercise4 .fullBox .rightBox > div img{width: 100%;}
.unit_6_lesson_3 .exercise4 .fullBox .rightBox > div .spiker_icon{position: absolute;left: -16%;top: 39%;}
.unit_6_lesson_3 .exercise4 .fullBox .rightBox > div .spiker_icon img{width: 90%;}
.unit_6_lesson_3 .exercise4 .fullBox .rightBox > div .spiker_icon:last-child{top:67%;left:-8%;}
.unit_6_lesson_3 .exercise4 .fullContainer{width: 100%;float: left; background: #fff;border:2px solid #000;border-radius: 20px;}
.unit_6_lesson_3 .exercise4 .fullContainer .topBox{width: 100%; float: left;border-bottom:2px solid #000;padding:10px;position: relative;min-height: 170px;}
.unit_6_lesson_3 .exercise4 .fullContainer .topBox > div{position: absolute;}
.unit_6_lesson_3 .exercise4 .fullContainer .topBox > div img{width: 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item1{left: 8%;width: 35%;top: 7%;background: url('../../images/unit6/lession_3/exercise_4/home.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item2{width: 15%;right: 10%;top: 12%;background: url('../../images/unit6/lession_3/exercise_4/ballon.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item3{width: 12%;left: 13%;top: 38%;background: url('../../images/unit6/lession_3/exercise_4/cat.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item4{width: 21%;right: 8%;top: 3%;background: url('../../images/unit6/lession_3/exercise_4/camel.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item5{width: 22%;left: 10%;top: 7%;background: url('../../images/unit6/lession_3/exercise_4/tree.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item6{width: 12%;right: 11%;top: 16%;background: url('../../images/unit6/lession_3/exercise_4/flower.png'); background-size: 100% 100%;}

.unit_6_lesson_3 .exercise4 .fullContainer .item1.selected{background: url('../../images/unit6/lession_3/exercise_4/home_color.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item2.selected{background: url('../../images/unit6/lession_3/exercise_4/ballon_color.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item3.selected{background: url('../../images/unit6/lession_3/exercise_4/cat_color.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item4.selected{background: url('../../images/unit6/lession_3/exercise_4/camel_color.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item5.selected{background: url('../../images/unit6/lession_3/exercise_4/tree_color.png'); background-size: 100% 100%;}
.unit_6_lesson_3 .exercise4 .fullContainer .item6.selected{background: url('../../images/unit6/lession_3/exercise_4/flower_color.png'); background-size: 100% 100%;}

.unit_6_lesson_3 .exercise4 .fullContainer .midBox{width: 100%; float: left;border-bottom:2px solid #000;padding:10px;position: relative;min-height: 170px;}
.unit_6_lesson_3 .exercise4 .fullContainer .midBox > div{position: absolute;}

.unit_6_lesson_3 .exercise4 .fullContainer .bottomBox{width: 100%; float: left;padding:10px;position: relative;min-height: 170px;}
.unit_6_lesson_3 .exercise4 .fullContainer .bottomBox > div{position: absolute;}
.unit_6_lesson_3 .exercise4 .fullContainer .bottomBox > div img{width: 100%;}

/********************** unit_6_lesson_3 .exercise_4 End ********************/