/********************** unit_7_lesson_1 .exercise_1 Start ********************/
.unit_7_lesson_1 .exercise1{background-color: #fffce0;}
.unit_7_lesson_1 .exercise1 img{width: auto;}
.unit_7_lesson_1 .exercise1 .header_part{width: 100%;height: 50px;float: left;position: relative;}
.unit_7_lesson_1 .exercise1 .counting_box{width:95%;float: left;margin-left:5%;background-color: #fffce0;}
.unit_7_lesson_1 .exercise1 .counting_box > div{width: 50%;float: left;}
.unit_7_lesson_1 .exercise1 .counting_box .numberBox {width: 100%;display: flex; justify-content: center; align-items: center;margin:10px 0px;}
.unit_7_lesson_1 .exercise1 .counting_box .numberBox .numSound{width:135px;display: flex;justify-content: center;align-items: center;}
.unit_7_lesson_1 .exercise1 .counting_box .numberBox .numImage{width: calc(100% - 135px);}
.unit_7_lesson_1 .exercise1 .counting_box .bigImage{align-items: start;}
/********************** unit_7_lesson_1 .exercise_1 End ********************/


/********************** unit_7_lesson_1 .exercise_2 Start ********************/
.unit_7_lesson_1 .exercise2{background:#c5c9d4 url(../../images/unit7/lession_1/exercise_2/background.png) center center no-repeat;background-size: cover;}
.unit_7_lesson_1 .exercise2 img{width: auto;}
.unit_7_lesson_1 .exercise2 .header_part{width: 100%;height: 55px;float: left;position: relative;}
.unit_7_lesson_1 .exercise2 .numberPanel{width: 100%; max-width: 720px;margin:0px auto;padding:0px 10px;}
.unit_7_lesson_1 .exercise2 .numberPanel .numberRow{display: flex; width: 100%;background: #bcbdc0;padding: 0px 1px;}
.unit_7_lesson_1 .exercise2 .numberPanel .numberRow > div{width:70px; height:40px;font-size: 28px;background: #fff;margin: 2px 2px;display: flex;align-items: center;justify-content: center;font-family: 'riffic', Arial, Helvetica, sans-serif; cursor: pointer;}
.unit_7_lesson_1 .exercise2 .numberPanel .infoPanel{width: 100%;background: #fff;margin: 10px 0px 0px 0px; text-align: center; display: flex;border: 2px solid #000;}
.unit_7_lesson_1 .exercise2 .numberPanel .infoPanel > div{padding:10px;}
.unit_7_lesson_1 .exercise2 .numberPanel .greenbox .selected{background:#40ae49;}
.unit_7_lesson_1 .exercise2 .numberPanel .bluebox .selected{background:#00aeef;}
.unit_7_lesson_1 .exercise2 .numberPanel .yellowbox .selected{background:#fff101;}
.unit_7_lesson_1 .exercise2 .numberPanel .redbox .selected{background:#d1232a;}
/********************** unit_7_lesson_1 .exercise_2 End ********************/

/********************** unit_7_lesson_1 .exercise_3 Start ********************/
.unit_7_lesson_1 .exercise3{background:#afdfcd;}
.unit_7_lesson_1 .exercise3 img{width: auto;}
.unit_7_lesson_1 .exercise3 .header_part{width: 100%;height: auto;float: left;position: relative;}
.unit_7_lesson_1 .exercise3 .suitCaseBox{width: 100%;float: left;}
.unit_7_lesson_1 .exercise3 .suitCaseBox .imageBox{position: relative;width: 100%; max-width: 680px;margin: 0px auto;}
.unit_7_lesson_1 .exercise3 .dotline_area{position: absolute;left:0px;right:0px;top:0px;bottom:0px;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline{width:20px; height: 20px; position: absolute; cursor: pointer;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line1_dot{left: 49%;top: 22%;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line2_dot{left: 62%;top: 22%;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line3_dot{left: 62%;top: 49%;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line4_dot{left: 62%;top: 76%;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line5_dot{left: 45%;top: 76%;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line6_dot{left: 21%;top: 76%;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line7_dot{left: 10%;top: 76%;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line8_dot{left: 10%;top: 49%;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line9_dot{left: 10%;top: 22%;}
.unit_7_lesson_1 .exercise3 .dotline_area .dotline.line10_dot{left: 23%;top: 22%;}

.unit_7_lesson_1 .exercise3 .dotline_area .singleline{position: absolute;border-radius: 3px; background: #231f20; display: none;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.selected{display: inline-block;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.line1{width: 13%;height: 4px;top: 23%;left: 50%;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.line2{width: 4px;height: 27%;top: 24%;left: 63%;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.line3{width: 4px;height: 27%;top: 52%;left: 63%;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.line4{width: 17%;height: 4px;top: 78.5%;left: 46.5%;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.line5{width: 24%;height: 4px;top: 78.5%;left: 22%;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.line6{width: 10%;height: 4px;top: 78.5%;left: 12%;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.line7{width: 4px;height: 27%;top: 52%;left: 11%;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.line8{width: 4px;height: 27%;top: 24%;left: 11%;}
.unit_7_lesson_1 .exercise3 .dotline_area .singleline.line9{width: 13%;height: 4px;top: 23%;left: 12%;}
/********************** unit_7_lesson_1 .exercise_3 End ********************/

/********************** unit_7_lesson_1 .exercise_4 Start ********************/
.unit_7_lesson_1 .exercise4{background:#c5c9d4 url(../../images/unit7/lession_1/exercise_4/background.png) center center no-repeat;background-size: cover;}
.unit_7_lesson_1 .exercise4 img{width: auto;}
.unit_7_lesson_1 .exercise4 .header_part{width: 100%;height: 55px;float: left;position: relative;}
.unit_7_lesson_1 .exercise4 .numberPanel{width: 100%; max-width: 720px;margin:0px auto;padding:0px 10px;}
.unit_7_lesson_1 .exercise4 .numberPanel .numberRow{display: flex; width: 100%;background: #bcbdc0;padding: 0px 1px;}
.unit_7_lesson_1 .exercise4 .numberPanel .numberRow > div{width:70px; height:45px;font-size: 34px;background: #fff;margin: 2px 2px;display: flex;align-items: center;justify-content: center;font-family: 'riffic', Arial, Helvetica, sans-serif; cursor: pointer; position: relative;}
.unit_7_lesson_1 .exercise4 .numberPanel .infoPanel{width: 100%;margin: 10px 0px 0px 0px; text-align: center; display: flex;}
.unit_7_lesson_1 .exercise4 .numberPanel .infoPanel > div{padding:10px;width:150px;}
.unit_7_lesson_1 .exercise4 .numberPanel .numberRow > div.selected:after{background: url(../../images/unit7/lession_1/exercise_4/cross.png) center center;width: 100%;height: 100%;position: absolute;content: '';background-repeat: no-repeat;background-size: 100%;}
/********************** unit_7_lesson_1 .exercise_4 End ********************/


/********************** unit_7_lesson_2 .exercise_1 Start ********************/

/********************** unit_7_lesson_2 .exercise_1 End ********************/

/********************** unit_7_lesson_2 .exercise_2 Start ********************/

/********************** unit_7_lesson_2 .exercise_3 End ********************/

/********************** unit_7_lesson_2 .exercise_4 Start ********************/

/********************** unit_7_lesson_2 .exercise_4 End ********************/



/********************** unit_7_lesson_3 .exercise_1 Start ********************/

/********************** unit_7_lesson_3 .exercise_1 End ********************/

/********************** unit_7_lesson_3 .exercise_2 Start ********************/

/********************** unit_7_lesson_3 .exercise_3 End ********************/

/********************** unit_7_lesson_3 .exercise_4 Start ********************/

/********************** unit_7_lesson_3 .exercise_4 End ********************/



/********************** unit_7_lesson_4 .exercise_1 Start ********************/

/********************** unit_7_lesson_4 .exercise_1 End ********************/

/********************** unit_7_lesson_4 .exercise_2 Start ********************/

/********************** unit_7_lesson_4 .exercise_3 End ********************/

/********************** unit_7_lesson_4 .exercise_4 Start ********************/

/********************** unit_7_lesson_4 .exercise_4 End ********************/





/********************** unit_7_lesson_5 .exercise_1 Start ********************/

/********************** unit_7_lesson_5 .exercise_1 End ********************/

/********************** unit_7_lesson_5 .exercise_2 Start ********************/

/********************** unit_7_lesson_5 .exercise_3 End ********************/

/********************** unit_7_lesson_5 .exercise_4 Start ********************/

/********************** unit_7_lesson_5 .exercise_4 End ********************/




