@media (max-width: 768px) {

 }
    
@media (max-width: 480px) {
/********************** unit_6_lesson_1 .exercise_1 Start ********************/
.unit_6_lesson_1 .exercise1 .header_part{height: auto;}
.unit_6_lesson_1 .exercise1 .fullBox{height: auto; }
.unit_6_lesson_1 .exercise1 .topBox{padding: 0px 10px;flex-direction: column;}
.unit_6_lesson_1 .exercise1 .topBox .numSound{top:0%;}
.unit_6_lesson_1 .exercise1 .topBox > div{flex-direction: column;padding-top:12%;width: 100%;}
.unit_6_lesson_1 .exercise1 .bottomBox > div.leftBox{padding-top:40%;}
.unit_6_lesson_1 .exercise1 .bottomBox .leftBox:after{background: none;}
.unit_6_lesson_1 .exercise1 .topBox .rightBox .numSound{top:6%;}
/********************** unit_6_lesson_1 .exercise_1 End ********************/

/********************** unit_6_lesson_1 .exercise_2 Start ********************/
.unit_6_lesson_1 .exercise2 .full_box .box1{ width: 100%;}
.unit_6_lesson_1 .exercise2 .full_box .box2{ width: 100%;}
.unit_6_lesson_1 .exercise2 .box_uper{ background: #fff;}


.unit_6_lesson_1 .exercise3 .full_box .box1{ width: 100%;}
.unit_6_lesson_1 .exercise3 .full_box .box2{ width: 100%;}
.unit_6_lesson_5 .exercise4 .full_box{ margin-top: 41px;}
/********************** unit_6_lesson_1 .exercise_2 end ********************/

/********************** unit_7_lesson_1 .exercise_1 Start ********************/
.unit_6_lesson_2 .exercise1 .header_part{height: auto;}
.unit_6_lesson_2 .exercise1 .counting_box{width: 100%;margin: 0px;}
.unit_6_lesson_2 .exercise1 .counting_box > div{width: 100%;}
.unit_6_lesson_2 .exercise1 .counting_box .numberBox .numSound{width:45%;}
.unit_6_lesson_2 .exercise1 .counting_box .numberBox .numSound img{max-width: 90%;}
.unit_6_lesson_2 .exercise1 .bigImage{text-align: center;}
.unit_6_lesson_2 .exercise1 .bigImage > img{position: static;float: left;}
/********************** unit_7_lesson_1 .exercise_1 End ********************/

/********************** unit_7_lesson_1 .exercise_2 Start ********************/
.unit_6_lesson_2 .exercise2 .header_part{height: auto;}
.unit_6_lesson_2 .exercise2 .numberPanel .numberRow > div{font-size: 24px;}
/********************** unit_7_lesson_1 .exercise_2 End ********************/

/********************** unit_7_lesson_5 .exercise_4 Start ********************/
.unit_6_lesson_2 .exercise4 .header_part{height: auto;}
.unit_6_lesson_2 .exercise4 .numberPanel .numberRow > div{font-size: 24px; height: 46px;}
/********************** unit_7_lesson_5 .exercise_4 End ********************/

/********************** unit_6_lesson_3 .exercise_1 Start ********************/
.unit_6_lesson_3 .exercise1 .header_part{height: auto;}
.unit_6_lesson_3 .exercise1 .fullBox{height: auto; }
.unit_6_lesson_3 .exercise1 .topBox{padding: 0px 10px;flex-direction: column;}
.unit_6_lesson_3 .exercise1 .topBox .numSound{top:0px;}
.unit_6_lesson_3 .exercise1 .topBox > div{flex-direction: column;padding-top:12%;width: 100%;}
.unit_6_lesson_3 .exercise1 .bottomBox > div{padding-top:15%;}
.unit_6_lesson_3 .exercise1 .bottomBox .leftBox:after{background: none;}
.unit_6_lesson_3 .exercise1 .topBox .leftBoxFull{width: 100%;}
.unit_6_lesson_3 .exercise1 .topBox .leftBoxFull .numSound {top: 50%;left: 1%;}
.unit_6_lesson_3 .exercise1 .topBox .leftBoxFull .numSound:last-child{right: 30%;}
/********************** unit_6_lesson_3 .exercise_1 End ********************/

/********************** unit_6_lesson_3 .exercise_2 Start ********************/
.unit_6_lesson_3 .exercise2 .header_part{height: auto;}
.unit_6_lesson_3 .exercise2 .fullBox{height: auto;}
.unit_6_lesson_3 .exercise2 .topBox .imageBox{width: 100%;}
/********************** unit_6_lesson_3 .exercise_2 End ********************/

/********************** unit_6_lesson_3 .exercise_3 Start ********************/
.unit_6_lesson_3 .exercise3 .header_part{height: auto;}
.unit_6_lesson_3 .exercise3 .fullBox{height: auto;}
.unit_6_lesson_3 .exercise3 .topBox .imageBox{width: 100%;}
/********************** unit_6_lesson_3 .exercise_3 End ********************/

/********************** unit_6_lesson_3 .exercise_4 start ********************/
.unit_6_lesson_3 .exercise4 .header_part{height: auto;}
.unit_6_lesson_3 .exercise4 .fullBox{padding: 0px; background: inherit;}
.unit_6_lesson_3 .exercise4 .fullBox .leftBox{width: 100%;}
.unit_6_lesson_3 .exercise4 .fullBox .rightBox{margin:20px 0px;width:100%;display: flex;justify-content: center;align-items: center;}
.unit_6_lesson_3 .exercise4 .fullBox .rightBox > div{width: auto; min-width: 200px;margin:0px;}
.unit_6_lesson_3 .exercise4 .fullContainer .topBox,
.unit_6_lesson_3 .exercise4 .fullContainer .bottomBox{min-height: 135px;}
/********************** unit_6_lesson_3 .exercise_4 end ********************/

/********************** unit_6_lesson_4 .exercise_1 Start ********************/
.unit_6_lesson_4 .exercise1 .header_part{height: auto;}
.unit_6_lesson_4 .exercise1 .counting_box{width: 100%;margin: 0px;}
.unit_6_lesson_4 .exercise1 .counting_box > div{width: 100%;}
.unit_6_lesson_4 .exercise1 .counting_box .numberBox .numSound{width:45%;}
.unit_6_lesson_4 .exercise1 .counting_box .numberBox .numSound img{max-width: 90%;}
.unit_6_lesson_4 .exercise1 .counting_box .bigImage{display: block; text-align: center;}
/********************** unit_6_lesson_4 .exercise_1 End ********************/

/********************** unit_6_lesson_4 .exercise_2 Start ********************/
.unit_6_lesson_4 .exercise2 .header_part{height: auto;}
.unit_6_lesson_4 .exercise2 .numberPanel .numberRow > div{font-size: 24px;}
.unit_6_lesson_4 .exercise2 .numberPanel .infoPanel > div > img{float: none;width: auto;}
.unit_6_lesson_4 .exercise2 .numberPanel .infoPanel > div > div{float: none;width: auto;}
/********************** unit_6_lesson_4 .exercise_2 End ********************/

/********************** unit_6_lesson_4 .exercise_3 Start ********************/
.unit_6_lesson_4 .exercise3 img{width: auto;}
.unit_6_lesson_4 .exercise3 .header_part{height: auto;}
.unit_6_lesson_4 .exercise3 .fullBox{margin-top: 35px;}
.unit_6_lesson_4 .exercise3 .text_box_area input{font-size: 24px;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox1{bottom:22%;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox2{bottom:26%;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox3{bottom:47%;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox4{bottom:74%;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox5{bottom:61%;}
/********************** unit_6_lesson_4 .exercise_3 End ********************/

/********************** unit_6_lesson_5 .exercise_1 Start ********************/
.unit_6_lesson_5 .exercise1 .header_part{height: auto;}
.unit_6_lesson_5 .exercise1 .fullBox{height: auto; }
.unit_6_lesson_5 .exercise1 .bottomBox{padding: 0px 10px;flex-direction: column;}
.unit_6_lesson_5 .exercise1 .topBox .numSound{top:0%;}
.unit_6_lesson_5 .exercise1 .topBox > div{flex-direction: column;padding-top:20%;width: 100%;}
.unit_6_lesson_5 .exercise1 .bottomBox > div.leftBox{padding-top:24%;}
.unit_6_lesson_5 .exercise1 .bottomBox .leftBox:after{background: none;}
.unit_6_lesson_5 .exercise1 .topBox .rightBox .numSound{top:6%;}
/********************** unit_6_lesson_5 .exercise_1 End ********************/

/********************** unit_6_lesson_5 .exercise_2 Start ********************/
.unit_6_lesson_5 .exercise2 .full_box .box1, .unit_6_lesson_5 .exercise2 .full_box .box2{width:100%;}
.unit_6_lesson_5 .exercise2 .botton_box{bottom: 44px;}
/********************** unit_6_lesson_5 .exercise_2 Start ********************/

/********************** unit_6_lesson_5 .exercise_3 Start ********************/
.unit_6_lesson_5 .exercise3 .full_box .box1, .unit_6_lesson_5 .exercise3 .full_box .box2{width:100%;}
.unit_6_lesson_5 .exercise3 .botton_box{bottom: 44px;}
/********************** unit_6_lesson_5 .exercise_3 Start ********************/

}
@media (max-width: 360px) {
/********************** unit_7_lesson_1 .exercise_2 Start ********************/
.unit_6_lesson_2 .exercise1 .counting_box .numberBox .numImage img{max-width: 153px;}


.unit_6_lesson_2 .exercise2 .numberPanel .numberRow > div{font-size: 18px;}

.unit_6_lesson_5 .exercise4 .full_box{ margin-top: 41px;}
/********************** unit_7_lesson_1 .exercise_2 End ********************/

/********************** unit_7_lesson_5 .exercise_4 Start ********************/
.unit_6_lesson_2 .exercise4 .numberPanel .numberRow > div{font-size: 18px;}
/********************** unit_7_lesson_5 .exercise_4 End ********************/
/********************** unit_6_lesson_1 .exercise_2 Start ********************/
.unit_6_lesson_1 .exercise2 .full_box .box1{ width: 100%;}
.unit_6_lesson_1 .exercise2 .full_box .box2{ width: 100%;}
.unit_6_lesson_1 .exercise2 .box_uper{ background: #fff;}
.unit_6_lesson_1 .exercise2 .check_box4{top: 67%;}
.unit_6_lesson_1 .exercise1 .topBox .imageBox{padding: 0px;}
.unit_6_lesson_1 .exercise3 .full_box .box1{ width: 100%;}
.unit_6_lesson_1 .exercise3 .full_box .box2{ width: 100%;}
/********************** unit_6_lesson_1 .exercise_2 end ********************/
/********************** unit_6_lesson_4 .exercise_2 Start ********************/
.unit_6_lesson_4 .exercise2 .numberPanel .numberRow > div{font-size: 18px;}
/********************** unit_6_lesson_4 .exercise_2 End ********************/

/********************** unit_6_lesson_4 .exercise_3 Start ********************/
.unit_6_lesson_4 .exercise3 .text_box_area input{font-size: 18px;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox1{bottom:20%;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox2{bottom:24%;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox3{bottom:45%;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox4{bottom:72%;}
.unit_6_lesson_4 .exercise3 .text_box_area input.textbox5{bottom:59%;}
/********************** unit_6_lesson_4 .exercise_3 End ********************/

/********************** unit_6_lesson_5 .exercise_1 Start ********************/
.unit_6_lesson_5 .exercise1 .topBox > div{flex-direction: column;padding-top:25%;width: 100%;}
.unit_6_lesson_5 .exercise1 .bottomBox > div.leftBox{padding-top:35%;}
/********************** unit_6_lesson_5 .exercise_1 End ********************/
}